button[title="Slideshow"]
	float right
.slideshow // Only apply when in slideshow mode.
	h2
		margin-left 0 !important // Override Stencil's.
	.slide
		display none // Show just one — .current.
		&.current
			display block
			position fixed
			top 0
			bottom 0
			left 0
			right 0
			overflow auto // fixed doesn't scroll.
			background white // Mask everything else.
			padding 1em
		&>*
			max-width 30rem //? Crude narrowing hack for readability?
		.handout
			display none
	#currentSlide
		position fixed
		bottom 1rem
		text-align center
		z-index 1
		right 0
		left 0
		text-shadow 0 0 0.15em white
		&:hover
			opacity 0
.layout // Container: .layout>#controls,#currentSlide,#header
	display none
	.slideshow & // Only apply when in slideshow mode.
		display block
